<a href="https://www.kaggle.com/code/alexsandroai/explore-olympics-tokyo?scriptVersionId=93546187" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# Install Packages

In [1]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 292 kB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

# Packages and paths

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import warnings
warnings.simplefilter("ignore")

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/2021-olympics-in-tokyo/EntriesGender.xlsx
/kaggle/input/2021-olympics-in-tokyo/Teams.xlsx
/kaggle/input/2021-olympics-in-tokyo/Athletes.xlsx
/kaggle/input/2021-olympics-in-tokyo/Coaches.xlsx
/kaggle/input/2021-olympics-in-tokyo/Medals.xlsx

# Reading Data and Exploring

## EntriesGender

In [3]:
entries_gender = pd.read_excel('/kaggle/input/2021-olympics-in-tokyo/EntriesGender.xlsx', engine="openpyxl")
entries_gender.head(5)

            Discipline  Female  Male  Total
0       3x3 Basketball      32    32     64
1              Archery      64    64    128
2  Artistic Gymnastics      98    98    196
3    Artistic Swimming     105     0    105
4            Athletics     969  1072   2041

In [4]:
entries_gender.describe()

           Female         Male       Total
count   46.000000    46.000000    46.00000
mean   118.086957   127.913043   246.00000
std    147.169717   166.900746   312.46134
min     10.000000     0.000000    19.00000
25%     42.750000    40.250000    85.50000
50%     90.000000    97.500000   190.00000
75%    138.750000   149.750000   288.75000
max    969.000000  1072.000000  2041.00000

## Teams

In [5]:
teams = pd.read_excel('/kaggle/input/2021-olympics-in-tokyo/Teams.xlsx', engine="openpyxl")
teams.head(5)

      Name      Discipline                         NOC  Event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women
3   France  3x3 Basketball                      France  Women
4    Italy  3x3 Basketball                       Italy  Women

In [6]:
teams.describe()

         Name Discipline    NOC Event
count     743        743    743   743
unique    146         20     84    36
top     Japan   Swimming  Japan   Men
freq       45        113     48   120

In [7]:
brasil = teams[teams['Name']=='Brazil']
brasil

       Name           Discipline     NOC                             Event
20   Brazil              Archery  Brazil                        Mixed Team
70   Brazil  Artistic Gymnastics  Brazil                        Men's Team
132  Brazil            Athletics  Brazil              4 x 400m Relay Mixed
133  Brazil            Athletics  Brazil              Men's 4 x 100m Relay
134  Brazil            Athletics  Brazil            Women's 4 x 100m Relay
407  Brazil             Football  Brazil                               Men
408  Brazil             Football  Brazil                             Women
435  Brazil             Handball  Brazil                               Men
436  Brazil             Handball  Brazil                             Women
483  Brazil  Rhythmic Gymnastics  Brazil                  Group All-Around
497  Brazil         Rugby Sevens  Brazil                             Women
528  Brazil             Swimming  Brazil    Men's 4 x 100m Freestyle Relay
529  Brazil             Swimming  Brazil       Men's 4 x 100m Medley Relay
530  Brazil             Swimming  Brazil    Men's 4 x 200m Freestyle Relay
531  Brazil             Swimming  Brazil       Mixed 4 x 100m Medley Relay
532  Brazil             Swimming  Brazil  Women's 4 x 100m Freestyle Relay
533  Brazil             Swimming  Brazil  Women's 4 x 200m Freestyle Relay
636  Brazil         Table Tennis  Brazil                        Men's Team
637  Brazil         Table Tennis  Brazil                      Women's Team
699  Brazil           Volleyball  Brazil                               Men
700  Brazil           Volleyball  Brazil                             Women

## Athletes

In [8]:
athletes = pd.read_excel('/kaggle/input/2021-olympics-in-tokyo/Athletes.xlsx', engine="openpyxl")
athletes.head(5)

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [9]:
athletes.describe()

             Name                       NOC Discipline
count       11085                     11085      11085
unique      11062                       206         46
top     CHEN Yang  United States of America  Athletics
freq            2                       615       2068

## Coaches

In [10]:
coaches = pd.read_excel('/kaggle/input/2021-olympics-in-tokyo/Coaches.xlsx', engine="openpyxl")
coaches.head(5)

              Name            NOC  Discipline Event
0  ABDELMAGID Wael          Egypt    Football   NaN
1        ABE Junya          Japan  Volleyball   NaN
2    ABE Katsuhiko          Japan  Basketball   NaN
3     ADAMA Cherif  Côte d'Ivoire    Football   NaN
4       AGEBA Yuya          Japan  Volleyball   NaN

In [11]:
coaches.describe()

                         Name    NOC  Discipline Event
count                     394    394         394   249
unique                    381     61           9     6
top     REQUENA PERICAS Judit  Japan  Basketball   Men
freq                        2     35          74    94

## Medals

In [12]:
medals = pd.read_excel('/kaggle/input/2021-olympics-in-tokyo/Medals.xlsx', engine="openpyxl")
medals.head(5)

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

In [13]:
medals.describe()

            Rank       Gold     Silver     Bronze       Total  Rank by Total
count  93.000000  93.000000  93.000000  93.000000   93.000000      93.000000
mean   46.333333   3.655914   3.634409   4.322581   11.612903      43.494624
std    26.219116   7.022471   6.626339   6.210372   19.091332      24.171769
min     1.000000   0.000000   0.000000   0.000000    1.000000       1.000000
25%    24.000000   0.000000   0.000000   1.000000    2.000000      23.000000
50%    46.000000   1.000000   1.000000   2.000000    4.000000      47.000000
75%    70.000000   3.000000   4.000000   5.000000   11.000000      66.000000
max    86.000000  39.000000  41.000000  33.000000  113.000000      77.000000

In [14]:
brasil_medals = medals[medals['Team/NOC']=='Brazil']
brasil_medals

    Rank Team/NOC  Gold  Silver  Bronze  Total  Rank by Total
11    12   Brazil     7       6       8     21             12